<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <p style="position: absolute; left: 88%; color: darkgray; font-style: italic">{{postDate | async | date: 'short' | uppercase}}</p>
  <h2>{{postName}} </h2>
  <p>{{getDetails()}}</p>
  <p style="display: none">{{loveIts}}</p>
  <button class="btn btn-success" (click)="getLove()">Love it !</button>
  <button class="btn btn-danger" (click)="getDislike()">Don't love it !</button>
</li>
